img {
    width: 60px;
}
li:hover{
    color: red;
}
ul{
    background-color: powderblue;
    width: 130px;
    font-weight: 800;
    font-size: 30px;
}
#sign-up{
    color:black ;
    font-size: 30px;
    font-weight: 700;
}
input:focus{
    color: red;
    font-size: 20px;
}
table, th , td {
    border: 1px solid black;
    background-color: powderblue;
    font-size: 20px;
    color: red;
}
#youtube:visited{
    color: red;
}
#youtube:hover{
    color: black;
}
#pl{
    background-color: forestgreen;
    width: 340px;
    font-size: 25px;
    f
}
.box{
    border:5px solid red;
    border-radius: 10px;
    float: left;
    width: 200px;
    padding: 30px;
    margin: 30px;
}

h2::after{
    content: " bye";
    color: red;
    font-size: 12px;
    background-color: powderblue;
    border: 1px solid black;
    border-radius: 4px;

}
h2::before{
    border: 1px solid black;
    border-radius: 4px;
    content: " hii";
    color: black;
    background-color: powderblue;
    font-size: 12px;
}
.container{
    background-color: powderblue;
}
div{
    height: 100px;
    width: 100px;
}
#first{
    background-color: red;
}
#second{
    background-color: yellow;
   position:relative;
   left: 900px;

}
#third{
    background-color: hotpink;
}