p:hover{
    color: goldenrod;
    background-color: powderblue;
}
li:first-child{
    color: green;
}
li:hover{
    background-color: red;
    font-weight: 700;
    font-size: larger;

}
li{
    background-color: powderblue;
}
input:focus{
    font-weight: 700;
    color: goldenrod;
}